<header class="sticky-top shadow">
  <nav class="p-3  navbar  navbar-light bg-dark rounded-bottom">
    <!--Navbar-->
   <div> <a class="navbar-brand fs-3 text-white" routerLink="home">CollectStore</a>
  </div>
   <div>
   
    <ul class="navbar-nav list-group list-group-horizontal">
    
    <li class="nav-item list-group-item border-0 bg-dark" ><a class="nav-link text-white" routerLink="/home">Main</a></li>
    <li class="nav-item list-group-item border-0  bg-dark" ><a class="nav-link text-white" routerLink="/about">About</a></li>
    <li class="nav-item list-group-item border-0 bg-dark"><a class="nav-link text-white"  routerLink="/products">Products</a></li>
    <li class="nav-item list-group-item border-0  bg-dark "><i class="bi bi-bag-dash nav-link text-white ">{{count$ | async}}</i> </li>
    </ul></div>
  </nav>
</header>