<h2 class="text-center pt-5">Collect Store</h2>

<div class=" pt-5 d-flex justify-content-center align-items-center">


<div class="card border-0 bg-light w-75 ">

  <div class="card-body">
    <p class="pt-2">At Collect, we specialize in providing high-quality tech accessories at affordable prices. Our mission is to make cutting-edge technology accessible to everyone. Whether you're looking for new smartphones, headphones, or earbuds, we've got you covered. With a commitment to quality and customer satisfaction, Collect ensures that you find the perfect tech companion for your everyday needs.</p>

    <p class="pt-4">Explore our diverse range of products and discover why Collect is your go-to destination for all things tech accessories. Join us in embracing innovation and enhancing your digital lifestyle with ease and style.</p>
  </div>
</div>
</div>