

<div class="container pt-5">
  <div class="row ">
    <div class="col d-flex align-items-center justify-content-center">
      <div class="row">

        <div class="col">
          <a routerLink="/phone" style="text-decoration:none">
          <div class="card  border-0  h-100 d-flex flex-column w-100" style="background-color: #7a7aa7">
            <i class="bi bi-phone-fill text-white text-center card-img-top" style="font-size:100px;"></i>
            <div class="card-body text-center">

              <strong>Mobile Phones</strong>
            </div>
          </div></a>
        </div>



        <div class="col">
          <div class="card  border-0  h-100 d-flex flex-column" style="background-color: #7a7aa7">
            <i class="bi bi-headphones text-white text-center card-img-top" style="font-size:100px;"></i>
            <div class="card-body text-center">

              <strong>Headphones</strong>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card border-0  h-100 d-flex flex-column" style="background-color: #7a7aa7">
            <i class="bi bi-earbuds text-white text-center card-img-top" style="font-size:100px;"></i>
            <div class="card-body text-center">

              <strong>Earbuds</strong>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
