
<div class="row ">
  <div class="col-sm-4 d-flex justify-content-center align-items-center">
  <div class="row ps-5">
    <div class="col">
                <strong class="fs-4"> Collect Store</strong>
                <div class="pt-2">
                  <p>Discover a wide range of premium smartphones, headphones, and accessories. At Collect, we offer top-notch products, exceptional quality, and unbeatable prices</p>

                </div>

    </div>

  </div>
    
  </div>
  <div class="col-sm-8 pt-5 d-flex justify-content-center align-items-center">
   
    <img src="/assets/images/bg-.png" height="500" width="500">
  </div>
</div>
<div class="row pt-5">
  <div class="col ">
   <div>
    <h4 class="d-flex justify-content-center align-items-centerr">Discover the best in high-quality tech products!</h4>
   </div> 
   <div class="d-flex justify-content-center align-items-center pt-2">
    <button routerLink="/products" class="btn btn-outline-secondary btn-lg">
        Shop Now <i class="bi bi-chevron-right"></i>
    </button></div>
  </div>
</div>